:root {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

/* Banner */
.banner-container {
    position: relative;
    height: 250px;
    width: 100%;
    background: #fd507e;
    overflow: hidden;
    z-index: -1;
}

.banner-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.banner-text-container {
    position: absolute;
    color: white;
}

.banner-text {
    font-size: 3rem;
}

.banner-sub-text {
    font-weight: 300;
}

/* Input */
.input-container {
    margin-top: -2rem;
    width: 100%;
    z-index: 999;
}

.input-wrapper {
    padding-right: 1rem;
    min-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    background-color: white;
}

.input-wrapper:hover,
.input-wrapper:focus {
    border-width: 4px;
}

.search-icon {
    padding: 0 1.5rem;
}

.search-input {
    border: none;
    height: 3.5rem;
    width: 100%;
    font-size: 1rem;
    padding-right: 1rem;
}

.search-input:focus-visible {
    outline: none;
}

/* Jumbotron */

.jumbotron-container {
    /* border: 1px solid black; */
    padding: 2rem 4rem;
}

/* Category */
.categories-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.category {
    min-width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #525D77;
}

.category .category-list {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 400;
}

.category .category-list:hover {
    color: #0d0c22;
}

.active {
    background-color: rgba(13, 12, 34, 0.05);
    color: #0d0c22;
    font-weight: 500 !important;
    transition: 0.12s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Images Container */

.images-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.images-wrapper {
    min-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem;
}

/* Card Container */
.card-container {
    /* border: 1px solid black; */
    width: fit-content;
    font-size: 0.8rem;
    color: #525D77;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.image {
    width: 350px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.details {
    display: flex;
    column-gap: 2rem;
}

.contributor-details {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-weight: 700;
    color: #0d0c22;
}

.contributor-details p {
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contributor-image {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.contributor-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.others-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
}

.likes .bi-heart-fill {
    color: #fd507e;
}

.views {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.3rem;
}

.card-container a:link,
.card-container a:active,
.card-container a:visited {
    color: #525D77;
    text-decoration: none;
}